node_modules
./node_modules
# Keep environment variables out of version control
env
server/env
server/.env
./server/env
./server/.env
./env
dist
./dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

web/env
web/.env
./web/env
./web/.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Env
.env.local